{% extends 'index.html' %} {% block content %}
<div class="card mx-auto mt-5" style="width: 18rem">
  <p class="font-monospace mx-auto">Options</p>
  <ul class="list-group list-group-flush gap-3">
    <li class="list-group-item font-monospace">
      <a href="/guilds" class="link-info">Guilds</a>
    </li>
    <li class="list-group-item font-monospace">
      <a href="#" class="link-info">Economy Leaderboard</a>
    </li>
    <li class="list-group-item font-monospace">
      <a href="#" class="link-info">Refresh</a>
    </li>
  </ul>
</div>
{% endblock %}
